.content-container {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 60%;
    height: 100%;

    z-index: -1;
}

.content-title {
    position: absolute;

    top: 10%;
    left: 50%;

    transform: translate(-50%, 0);

    border-bottom: .1vh solid rgb(82, 88, 107);

    width: 100%;
}

.content-title p {
    font-size: 1.5vh;
    padding: .25vh;
    font-weight: 600;
}

.content-title a {
    position: absolute;

    right: 0;
    top: 1.4vh;

    font-size: 1.5vh;
    padding: .25vh;
    font-weight: 600;

    color: white;
}

.content-box {
    position: relative;
    display: inline-block;

    top: 20%;
    left: 0%;

    width: 32.5%;
    height: 30vh;

    border: .1vh solid rgb(82, 88, 107);
    background-color: rgb(27, 28, 33);
    border-radius: .5vh;

    margin-right: .1vh;
    margin-bottom: .5vh;
}

.content-box-title {
    position: absolute;

    left: 1vh;
    top: 1vh;

    font-size: 1.5vh;
    font-weight: 600;

    width: 95%;
}

.content-box-text {
    position: absolute;

    left: 1vh;
    top: 5vh;

    font-size: 1.5vh;

    width: 95%;
    height: 23vh;

    overflow-y: auto;
}

.content-box-text::-webkit-scrollbar {
    display: none;
}


@media (max-width: 1700px) { 
    .content-box {
        width: 48.5%;
        margin-right: .1vh;
    }
}

@media (max-width: 1000px) { 
    .content-box {
        width: 100%;
        margin-right: .1vh;
    }
}