.content-container {
    position: absolute;

    top: 0%;
    left: 50%;

    transform: translate(-50%, 0);

    width: 60%;
    height: 100%;

    z-index: -1;
}

.content-title {
    position: absolute;

    top: 10%;
    left: 50%;

    transform: translate(-50%, 0);

    border-bottom: .1vh solid rgb(82, 88, 107);

    width: 100%;
}

.content-title p {
    font-size: 1.5vh;
    padding: .25vh;
    font-weight: 600;
}

.content {
    position: absolute;

    top: 20%;
    left: 0;

    width: 40%;

    border: .1vh solid rgb(82, 88, 107);
    background-color: rgb(27, 28, 33);
    border-radius: .5vh;

    padding: 1vh;
}

.content p {
    font-size: 1.5vh;
    padding: .5vh;
}


.content-img {
    position: absolute;

    top: 20%;
    right: 0;

    max-height: 50vh;

    border: .1vh solid rgb(82, 88, 107);
    background-color: rgb(27, 28, 33);
    border-radius: .5vh;

    padding: 1vh;

    object-fit: scale-down;
}

@media (max-width: 1170px) {
    .content-container {
        width: 90%;
    }

    .content {
        position: relative;
        top: 19vh;
        width: 94%;
    }

    .content-img {
       position: relative;
       top: 18vh;
       max-height: 20vh;
       width: max-content;
    }

    .content-title p {
        font-size: 1.8vh;
    }

    .content p {
        font-size: 1.8vh;
    }
}