.pdf-container {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 60%;
    height: 100%;

    z-index: -1;
}

.pdf-document {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 100%;
    height: 65%;

    transform: translate(-50%, -50%);
    z-index: 999;
}

.pdf-title {
    position: absolute;

    top: 11%;
    left: 50%;

    transform: translate(-50%, 0);

    border-bottom: .1vh solid rgb(82, 88, 107);

    width: 100%;
    height: 4.5vh;
}

.pdf-title p {
    font-size: 1.5vh;
    padding: .25vh;
    font-weight: 600;
}

.pdf-title a {
    position: absolute;

    right: 0;
    top: 0vh;

    font-size: 1.5vh;
    padding: .25vh;
    font-weight: 600;

    color: white;
}